// .sidebar {
//   z-index: 99;
//   width: 200px;
//   bottom: 0;
//   position: fixed;
//   -webkit-transition: all .2s ease-out;
//   transition: all .2s ease-out;
//   top: 0;
//   -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
//   box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
//   z-index: 999;
//   overflow-y: scroll;
// }

// @media screen and (max-width: 992px) and (orientation: portrait) {

//   .sidebar {
//     width: 0;
//     transition: 0.4s;
//   }

// }

.sidebar {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll !important;
  overflow-x: hidden;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
