<div class="w-52 bg-indigo-600 fixed z-40 inset-y-0 p-5 pt-28 h-full">
  <small class="text-slate-200 font-semibold">NAVIGATION</small>

  <nav class="py-5 h-full overflow-y-auto overflow-x-hidden no-scrollbar">

    <ul class="list-none">
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'tachometer']"></fa-icon>
        <span class="ml-3">Dashboard</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'users']"></fa-icon>
        <span class="ml-3">Users</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'child']"></fa-icon>
        <span class="ml-3">Family</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'database']"></fa-icon>
        <span class="ml-3">Data</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'window-restore']"></fa-icon>
        <span class="ml-3">Pages</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'car-side']"></fa-icon>
        <span class="ml-3">Vehicles</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'folder-open']"></fa-icon>
        <span class="ml-3">Drive</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'address-book']"></fa-icon>
        <span class="ml-3">Contacts</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'cloud-sun']"></fa-icon>
        <span class="ml-3">Weather</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'heart']"></fa-icon>
        <span class="ml-3">Health</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'utensils']"></fa-icon>
        <span class="ml-3">Food</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'running']"></fa-icon>
        <span class="ml-3">Workout</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'home']"></fa-icon>
        <span class="ml-3">Home</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'file-invoice-dollar']"></fa-icon>
        <span class="ml-3">Bills</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'credit-card']"></fa-icon>
        <span class="ml-3">Paiments</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'dollar-sign']"></fa-icon>
        <span class="ml-3">Budget</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'key']"></fa-icon>
        <span class="ml-3">Passwords</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'check']"></fa-icon>
        <span class="ml-3">Todo</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'calendar-alt']"></fa-icon>
        <span class="ml-3">Calendar</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'camera-retro']"></fa-icon>
        <span class="ml-3">Photos</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'baby']"></fa-icon>
        <span class="ml-3">Baby</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'graduation-cap']"></fa-icon>
        <span class="ml-3">Trainings</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'suitcase']"></fa-icon>
        <span class="ml-3">Jobs</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'plane']"></fa-icon>
        <span class="ml-3">Trips</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'comments']"></fa-icon>
        <span class="ml-3">Messages</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'paw']"></fa-icon>
        <span class="ml-3">Pets</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'sticky-note']"></fa-icon>
        <span class="ml-3">Reminders</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'tv']"></fa-icon>
        <span class="ml-3">Movies & shows</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'desktop']"></fa-icon>
        <span class="ml-3">IT</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'robot']"></fa-icon>
        <span class="ml-3">AI</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'book']"></fa-icon>
        <span class="ml-3">Books</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'music']"></fa-icon>
        <span class="ml-3">Music</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'mobile']"></fa-icon>
        <span class="ml-3">Devices</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'gamepad']"></fa-icon>
        <span class="ml-3">Games</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'envelope']"></fa-icon>
        <span class="ml-3">E-mails</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'newspaper']"></fa-icon>
        <span class="ml-3">News</span>
      </li>
      <li class="text-white py-3">
        <fa-icon [icon]="['fad', 'redo-alt']"></fa-icon>
        <span class="ml-3">Habits & routines</span>
      </li>
    </ul>

  </nav>

</div>
