<div class="fixed transition ease-out duration-500 opacity-100 inset-0 bg-slate-800/75 flex z-40" [ngClass]="{'opacity-0': modalHidden, 'hidden': modalHide}">

  <div class="transition ease-out duration-500 h-fit w-11/12 md:w-8/12 lg:w-6/12 xl:w-5/12 bg-white border mx-auto rounded-xl absolute inset-0 z-50" [ngClass]="{'my-auto': options && options.centered ? options.centered : false, '-translate-y-10': modalHidden, 'my-20': !options || options && !options.centered ? true : false}">
    <ng-content></ng-content>
  </div>

  <div class="absolute z-40 inszet-0 w-full h-full" data-dismiss="modal"></div>

</div>
