<div class="bg-white drop-shadow rounded-xl p-5 my-5" *ngIf="currentUser">
  <h2 class="text-indigo-600 text-xl mb-5">
    <fa-icon [icon]="['fad', 'user-lock']"></fa-icon>
    <span class="ml-2">Authentication</span>
  </h2>

  <div class="flex my-3">
    <p class="my-auto text-bold">Password</p>
    <button type="button" class="ml-auto text-slate-400 hover:text-indigo-600" (click)="onEditPassword()">
      <span class="mr-2">Edit password</span>
      <fa-icon [icon]="['fad', 'pen']"></fa-icon>
    </button>
  </div>

</div>

<app-modal modalName="editPasswordModal" [options]="{centered: true}">
  <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmitEditPasswordForm()">
    <div class="p-5 border-b-2 flex">
      <h5 class="text-lg my-auto text-indigo-600">Edit password</h5>
      <button class="text-rose-600 text-xl ml-auto my-auto transition-transform ease-out duration-500 transform hover:text-rose-700 hover:rotate-90" data-dismiss="modal">
        <fa-icon [icon]="['fad', 'times']"></fa-icon>
      </button>
    </div>
    <div class="p-5">
      <div class="flex flex-col mb-5">
        <label for="editOldPasswordInput" class="ml-1">Current password</label>
        <input type="password" id="editOldPasswordInput" class="border rounded-md h-9 p-2 focus:outline focus:outline-indigo-500" formControlName="oldPassword" placeholder="Your current password here">
      </div>
      <div class="flex flex-col mb-5">
        <label for="editNewPasswordInput" class="ml-1">New password</label>
        <input type="password" id="editNewPasswordInput" class="border rounded-md h-9 p-2 focus:outline focus:outline-indigo-500" formControlName="password" placeholder="Your new password here">
      </div>
      <div class="flex flex-col">
        <label for="editNewPasswordConfirmInput" class="ml-1">Confirm new password</label>
        <input type="password" id="editNewPasswordConfirmInput" class="border rounded-md h-9 p-2 focus:outline focus:outline-indigo-500" formControlName="passwordConfirm" placeholder="Confirm your new password here">
      </div>
    </div>
    <div class="flex px-5 py-3 border-t-2 justify-end gap-2">
      <button class="bg-slate-600 hover:bg-slate-700 text-white px-4 py-2 rounded-xl" type="button" data-dismiss="modal">
        Cancel
      </button>
      <button class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-xl disabled:opacity-75" type="submit" [disabled]="editPasswordForm.invalid">
        Save
      </button>
    </div>
  </form>
</app-modal>
